<nav class="bg-gray-800 p-4">
    <p class="text-white">Test</p>
</nav>
<ul class="flex space-x-4 bg-gray-700 p-4">
    <li><a class="text-white hover:text-gray-300" href="/">Home</a></li>
    <li><a class="text-white hover:text-gray-300" href="/about">About</a></li>
    <li><a class="text-white hover:text-gray-300" href="/Posts">Posts</a></li>
</ul>
<br>