<%- include('./partials/htmlHeader.ejs') %>
<body>
    <%- include('./partials/navItem.ejs') %>
    <a href="/about">GO to about</a>
    <br>
    <a href="/posts">GO to Post LIsts</a>
    I am index.html
    <br>
</body>
</html>