<%- include('../partials/htmlHeader.ejs')  %>
<body>
    <%- include('../partials/navItem.ejs') %>

    I AM 404 PAGE SORRY 

    <br>

    <a class="bg-blue-500 text-white p-4 mt-10 inline-block" href="/">Return to Home</a>
</body>
</html>