<%- include('../partials/htmlHeader.ejs') %>
<body>
    <%- include('../partials/navItem.ejs') %>
    <a href="/about">GO to about</a>
    I am Post Lists
    <br>
    <%- include('../partials/posts/list-table.ejs',{posts}) %>

</body>
</html>